<section>
	<div 
		class="container" 
		style="background-color: #f8f8f4; width: 100%; padding-top: -10px;"
		ng-include="'templates/banner.html'">		
	</div>
	<div 
		class="container"
		style="background-color: #f8f8f4; width: 100%; padding-top: -10px;"
		ng-include="'templates/menu-interno.html'">		
	</div>
	<div class="container" style="background-color: #f8f8f4; width: 100%; padding-top: -10px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<img src="img/fundoadeisvagem2.png" class="img-responsive center-block">
				</div>	
			</div>
			<div class="row">				
				<div class="col-lg-8">
					<div class="container container-table">						
						<div class="row vertical-center-row" style="padding-left: 100px;">
							<div class="text-left col-lg-6  col-centered" style="color: #ff6600;">
								<h1>BUSINDOOR</h1>
							</div>
						</div>
						<div class="row vertical-center-row" style="padding-left: 100px;">
							<div class="col-lg-8" style="border-style: solid; border-width: 1px; border-color: #ff6600; height: 150px; color: #164f79; padding-top: -40px; text-align: justify;">
								<div style="padding-top: 30px; padding-bottom: 30px;">
									<div  class="col-lg-8 col-centered">
										<b>Descrição: </b> adesivo vinil instalado na traseira interna do onibus.<br />
										<b>Dimensões: </b> adesivos com 1,80 x 0,65.<br />
										<b>Impacto: </b> aproximadamente 21.000 visualizações por onibus / mês.<br />
										<b>Preço por Onibus: </b> R$ 350,00 + impressão.<br />
									</div>
									<div  class="col-lg-12" style="padding-left: 10%" >
										<button style="background-color: #ff6600; border: 0px; color: #fff;">
											MAIORES INFORMAÇÕES ENTRE EM CONTATO NO FORMULÁRIO ABAIXO
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3" style="padding-top: 52px;">
					<div class="row vertical-center-row" style="margin-left:36px">
						<div class="text-center col-lg-12  col-centered" style="background-color: #ff6600; color: #fff; padding-top: 40px; padding-bottom: 40px; padding-left: 40px; padding-right: 40px; text-align: center; ">
							MÍDIA JÁ CONSAGRADA PARA ATINGIR O PÚBLICO INTERNO DOS ONIBUS DOS GRANDES CENTROS URBANOS.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>