<section id="featured" class="bg">
	<!-- Slider -->
	<div id="main-slider" class="main-slider flexslider">
		<ul class="slides">
			<li><img src="img/slides/flexslider/slider12.jpg" alt="" /></li>
			<li><img src="img/slides/flexslider/slider12.jpg" alt="" /></li>
			<li><img src="img/slides/flexslider/slider12.jpg" alt="" /></li>
		</ul>
	</div>
	<!-- end slider -->
</section>

<section>
	<div id="menucustom" class="navbar navbar-default navbar-static-top menunav">
		<div class="collapse navbar-collapse">
			<ul id="itemcustom" class="nav navbar-nav">
				<li><a href="#atvon">A TV ON</a></li>
				<li><a href="#intinerarios">ITINERÁRIOS ADESIVAGEM</a></li>
				<li><a href="#anunciantes">ANUNCIANTES</a></li>
				<!--li><a href="#">CONTATO</a></li-->
				<li><a href="#diferenciais">DIFERENCIAIS</a></li>
			</ul>
		</div><!-- end collapse -->
	</div>
</section>
<section>
	<div class="container" style="background-color: #f8f8f4; width: 100%; padding-top: -10px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 contsobre">
					<div class="col-lg-6">
						<div class="voltar">
							<a href="#"><img src="img/back.png"></a>
						</div>
						<div class="anunciantes"></div>
					</div>
					<div class="col-lg-6 marcas">
						<section id="featured" class="bg">
							<div id="main-slider" class="main-slider flexslider">
								<ul class="slides">
									<li><img src="img/slides/flexslider/marcas.png" alt="" /></li>
									<li><img src="img/slides/flexslider/marcas1.png" alt="" /></li>
									<li><img src="img/slides/flexslider/marcas2.png" alt="" /></li>
								</ul>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>