<section>
	<div 
		class="container" 
		style="background-color: #f8f8f4; width: 100%; padding-top: -10px;"
		ng-include="'templates/banner.html'">		
	</div>
	<div 
		class="container"
		style="background-color: #f8f8f4; width: 100%; padding-top: -10px;"
		ng-include="'templates/menu-interno.html'">		
	</div>
	<div class="container" style="background-color: #f8f8f4; width: 100%; padding-top: -10px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="col-lg-4">
						<div class="voltar">
							<a href="#">
								<img src="img/back.png" class="img-responsive center-block">
							</a>
						</div>
						<div class="anunciantes"></div>
					</div>
					<div class="col-lg-4">
						<ul class="slides">
							<li>
								<img src="img/slides/flexslider/marcas.png" class="img-responsive center-block"/>
							</li>
							<li>
								<img src="img/slides/flexslider/marcas1.png" class="img-responsive center-block"/>
							</li>
							<li>
								<img src="img/slides/flexslider/marcas2.png" class="img-responsive center-block"/>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>