<section>
	<div 
		class="container" 
		style="background-color: #f8f8f4; width: 100%; padding-top: -10px;"
		ng-include="'templates/banner.html'">		
	</div>
	<div 
		class="container"
		style="background-color: #f8f8f4; width: 100%; padding-top: -10px;"
		ng-include="'templates/menu-interno.html'">		
	</div>
	<div class="container" style="background-color: #f8f8f4; width: 100%; padding-top: -10px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 contsobre">
					<div class="col-lg-4">
						<div class="midiadigital"></div>
					</div>
					<div class="col-lg-8 marcas">
						<section id="featured" class="bg">
							<div id="main-slider" class="main-slider">
								<ul class="slides" style="color: #164f79">
									<li style="padding-left:10%">
										<div class="col-lg-10" style="text-align: justify;">
											<!--h2>INSTITUCIONAL 1</h2><br /-->
											Midia digital móvel, especialmente desenvolvida para o entretenimento dos usuários do transporte público.
											A transmissão de conteúdos é voltada para a cultura, informação, humor e cidadania, exibida em monitores de 21 polegadas.</div>
											<!--div class="col-lg-6"><img src="img/youtube.png"></div-->
										</li>
										<li style="padding-left:10%">
											<div class="col-lg-10" style="text-align: justify;">
												<!--h2>INSTITUCIONAL 2</h2><br /-->
												Presente em 80 ónibus das linhas de maior fluxo de Campo Grande, a TV On Veicular conversa mensalmete com mais de 1.600.000 usuários do transporte coletivo com altissima definição, minima dispersão e grande absorção da mensagem.</div>
												<!--div class="col-lg-6"><img src="img/youtube.png"></div-->
											</li>
											<li style="padding-left:10%">
												<div class="col-lg-10" style="text-align: justify;">
													<!--h2>INSTITUCIONAL 3</h2><br /-->
													A Midia Digital em ônibus é totalmente inovadora, impactando diretamente um público segmentado.
													A TV On aproxima ponto a ponto empresários e clientes, fortalecendo marcas e acelerando resultados para quem anuncia.</div>
													<!--div class="col-lg-6"><img src="img/youtube.png"></div-->
												</li>
											</ul>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>