<section id="featured" class="bg">
	<!-- Slider -->
	<div id="main-slider" class="main-slider flexslider">
		<ul class="slides">
			<li><img src="img/slides/flexslider/slider12.jpg" alt="" /></li>
			<li><img src="img/slides/flexslider/slider12.jpg" alt="" /></li>
			<li><img src="img/slides/flexslider/slider12.jpg" alt="" /></li>
		</ul>
	</div>
	<!-- end slider -->
</section>

<section>
	<div id="menucustom" class="navbar navbar-default navbar-static-top menunav">
		<div class="collapse navbar-collapse">
			<ul id="itemcustom" class="nav navbar-nav">
				<li><a href="#atvon">A TV ON</a></li>
				<li><a href="#intinerarios">ITINERÁRIOS ADESIVAGEM</a></li>
				<li><a href="#anunciantes">ANUNCIANTES</a></li>
				<!--li><a href="#">CONTATO</a></li-->
				<li><a href="#diferenciais">DIFERENCIAIS</a></li>
			</ul>
		</div><!-- end collapse -->
	</div>
</section>
<section>
	<div class="container" style="background-color: #f8f8f4; width: 100%; padding-top: -10px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 contsobre">
					<div class="col-lg-6">
						<div class="voltar">
							<a href="#"><img src="img/back.png"></a>
						</div>
						<div class="diferenciais"></div>
					</div>
					<div class="col-lg-6 textodiferenciais">
						<p>Especialmente criada de forma diferenciada e visando sempre as novas tecnologias, a TvOn aproxima ponto a ponto, empresários e clientes, fortalecendo marcas e acelerando resultados para quem anuncia.</p>
						<p>É a Mídia Digital Out Of Home posicionando empresas em pontos estratégicos localizados, levando informações dirigidas ao público quando ele está plena atividade. Tudo em perfeita sincronia com o seu momento.</p>
						<p>A TvOn é a solução que o mercado busca pra conquistar a atenção do consumidor, através da relevância que uma mensagem adquire ao ser transmitida em sincronia com o ambiente em que ela se realiza.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>