<div class="div-box-rodape">
	<div class="col-md-12 boxrodape"></div>
</div>
<section class="section-container-footer">
	<div class="container div-container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12" style="padding-bottom: 10px;">
							<img src="img/faleconosco.png">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="padding-bottom: 10px;">
							<form ng-submit="submit()" ng-controller="noticiaCtrl">
								<div class="form-group">
									<label for="intputNome">Nome</label>
									<input type="text" class="form-control" id="intputNome" ng-model="nome"
									placeholder="Nome">
								</div>  
								<div class="form-group">
									<label for="inputEmail">E-mail</label>
									<input type="email" class="form-control" id="inputEmail" ng-model="email"
									aria-describedby="emailHelp" placeholder="E-mail">
								</div>
								<div class="form-group">
									<label for="inputTextArea">Mensagem</label>
									<textarea class="form-control" id="inputTextArea" ng-model="msg"
									rows="3">Mensagem</textarea>
								</div>  
								<button type="submit" class="btn btn-warning">Salvar</button>
							</form>
						</div>
					</div>					
				</div>
				<div class="col-md-4 boxcontato">
					<div class="row">
						<div class="col col-md-1" style="padding-bottom: 15px;"><img src="img/icon_mail.png"></div>
						<div class="col col-md-11" style="padding-bottom: 15px;">comercial@tvonmidia.com.br</div>
					</div>
					<div class="row">
						<div class="col col-md-1" style="padding-bottom: 15px;"><img src="img/icon_phone.png"></div>
						<div class="col col-md-11" style="padding-bottom: 15px;">(67) 3043-0068 | (67) 3043-0069</div>
					</div>
					<div class="row">
						<div class="col col-md-1" style="padding-bottom: 15px;"><img src="img/icon_map.png"></div>
						<div class="col col-md-11" style="padding-bottom: 15px;">Rua da paz, 638 - fundos.<br/>Centro. CEP 79020-250</div>
					</div>					
					<div class="row div-face">						
						<div class="col-md-12">
							<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftvonmidiadigital%2F&tabs&width=340&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
						</div>						
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
</section>