<nav class="navbar navbar-default navbar-static-top logo">
	<div class="container-fluid">
		<div class="navbar-header" style="height: 120px;">
			<a class="navbar-brand" href="#">
				<img src="img/logo 2.png" alt="TVON MIDIA" />
			</a>		
		</div>		
		<div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
			<ul class="nav navbar-nav">
				<li>
					<a href="#home" class="menunews">
						<img src="img/tvon_news.png">
					</a>
				</li>
				<li>
					<a href="#veicular" class="menuveicular">
						<img src="img/tvon_veicular.png">
					</a>
				</li>
				<li>
					<a href="#adesivagem" class="menuadesivagem">
						<img src="img/tvon_adesivagem.png">
					</a>
				</li>
				<li>
					<a href="#promocao" class="menupromocoes">
						<img src="img/tvon_promocoes.png">
					</a>
				</li>
				<!--li>
					<a href="#" class="menusearch">
						<img src="img/icon_search.png" alt=""/>
					</a>
				</li-->
			</ul>
		</div>
	</div>
</nav>