<section>
	<div 
		class="container" 
		style="background-color: #f8f8f4; width: 100%; padding-top: -10px;"
		ng-include="'templates/banner.html'">		
	</div>
	<div 
		class="container"
		style="background-color: #f8f8f4; width: 100%; padding-top: -10px;"
		ng-include="'templates/menu-interno.html'">		
	</div>
	<div class="container" style="background-color: #f8f8f4; width: 100%; padding-top: -10px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 contsobre">
					<img src="img/sobre.jpg" class="img-responsive center-block">
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="background-color: #164f79; width: 100%; padding-top: -10px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 programacao"></div>
				<div class="col-lg-4 textoprogramacao">
					<p>Programação com <b>conteúdo exclusivo</b> e baseado em pesquisas <b>junto ao nosso consumidor.</b> Produções segmentadas e com linguagem específica para o veículo, objetivas e focadas em resultados.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="box">
						<span class="tituloBox"><h2>PROGRAMAÇÃO TV ON</h2></span>
						<div class="boxTitulo">
							<ul>
								<li>Atualiza diariamente</li>
								<li>Diversidade de assuntos e temas que atraem maior grau de atenção do passageiro</li>
								<li>18 horas de programação</li>
								<li>Efeito zapping nulo video</li>
							</ul>
						</div>
						<div class="divisao"></div>
						<div style="height: 140px;"><img src="img/icon_video.png" class="displayed"></div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="box" style="padding-bottom: 10px;">
						<span class="tituloBox"><h2>PRODUTORA TV ON</h2></span>
						<div class="boxTitulo">
							<ul>
								<li>A mídia digital possui particularidades que devem ser obedecidas na criação do VT</li>
								<li>A TV ON possui profissionais especializados em OOH, que ajudam nossos clientes a construir campanhas específicas para o meio, acelerando os resultados</li>
							</ul>
						</div>
						<div class="divisao"></div>
						<div style="height: 140px;"><img src="img/icon_video.png" class="displayed"></div>
						<div style="clear:both;"></div>
					</div>
				</div>
			</div>
			<div style="height: 20px; padding-bottom:20px;"></div>
		</div>
	</div>
	<div class="container" style="background-color: #f8f8f4; width: 100%; padding-top: 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-6"><img src="img/veicular.png"></div>
				<div class="col-lg-6 textsobre">
					<p>A TV ON veicular é um canal de comunicação totalmente inovador, presente em mais de 15 linhas da capital, com monitores de LCD 21", de alta definição, estrategicamente posicionados, interagindo com mais de 1.680.000 usuários por mês.</p>
					<ul>
						<li>Efeito zapping nulo</li>
						<li>Imagem em altíssima definição</li>
						<li>Mínima dispersão do público alvo</li>
						<li>Grande absorção da mensagem</li>
						<li>Custo reduzido em relação as mídias equivalentes</li>
					</ul>
					<a href="#itinerarios"><img src="img/linhas.png"></a>
				</div>
			</div>
		</div>
	</div>
</section>