<section id="featured" class="bg">
	<!-- Slider -->
	<div id="main-slider" class="main-slider flexslider">
		<ul class="slides">
			<li><img src="img/slides/flexslider/slider12.jpg" alt="" /></li>
			<li><img src="img/slides/flexslider/slider12.jpg" alt="" /></li>
			<li><img src="img/slides/flexslider/slider12.jpg" alt="" /></li>
		</ul>
	</div>
	<!-- end slider -->
</section>

<section>
	<div id="menucustom" class="navbar navbar-default navbar-static-top menunav">
		<div class="collapse navbar-collapse">
			<ul id="itemcustom" class="nav navbar-nav">
				<li><a href="#atvon">A TV ON</a></li>
				<li><a href="#intinerarios">ITINERÁRIOS ADESIVAGEM</a></li>
				<li><a href="#anunciantes">ANUNCIANTES</a></li>
				<!--li><a href="#">CONTATO</a></li-->
				<li><a href="#diferenciais">DIFERENCIAIS</a></li>
			</ul>
		</div><!-- end collapse -->
	</div>
</section>
<section>
	<div class="container" style="background-color: #f8f8f4; width: 100%; padding-top: -10px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 contlinhas">
					<div class="col-lg-6">
						<div class="voltar">
							<a href="#"><img src="img/back.png"></a>
						</div>
						<div class="veicular"></div>
					</div>
					<div class="col-lg-6 linhas">
						<div class="row">									
							<b><h4>INTINERÁRIO</h4></b>
							<div class="col-lg-12 boxline" style="margin-top:20px">
								<img src="img/icon_bus.png">
								<b>linha 081</b> - NOVA BAHIA/BANDEIRANTES (9)<br/>
								<img src="img/icon_bus.png">
								<b>linha 073</b> - NOVA BAHIA/JULIO DE CASTILHOS (5)<br/>
								<img src="img/icon_bus.png">
								<b>linha 062</b> - MORENINHAS/SHOPPING (4)<br/>
								<img src="img/icon_bus.png">
								<b>linha 082</b> - AERO RANCHO/SHOPPING (4)<br/>
								<img src="img/icon_bus.png">
								<b>linha 051</b> - BANDEIRANTES/SHOPPING (4)<br/>
								<img src="img/icon_bus.png">
								<b>linha 521</b> - PQ. DOS PODERES (4)<br/>
								<img src="img/icon_bus.png">
								<b>linha 070</b> - GENERAL OSORIO/SHOPPING (4)<br/>
								<img src="img/icon_bus.png">
								<b>linha 085</b> - MORENAO/JULIO DE CASTILHOS (3)<br/>
								<img src="img/icon_bus.png">
								<b>linha 053</b> - COPHASUL/ARNALDO FIGUEIREDO (3)<br/>
								<img src="img/icon_bus.png">
								<b>linha 414</b> - NOVA CAMPO GRANDE (3)<br/>
								<img src="img/icon_bus.png">
								<b>linha 071</b> - BANDEIRANTES/JULIO DE CASTILHOS (2)<br/>
								<img src="img/icon_bus.png">
								<b>linha 078</b> - GENERAL OSORIO/MORENAO EXPRESSO (2)<br/>
								<img src="img/icon_bus.png">
								<b>linha 087</b> - GUAICURUS/GENERAL OSORIO (2)<br/>
								<img src="img/icon_bus.png">
								<b>linha 520</b> - NOROESTE (2)<br/>
								<img src="img/icon_bus.png">
								<b>linha 086</b> - JULIO DE CASTILHOS/SHOPPING (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 089</b> - GUAIUCURUS/EXPRESSO (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 083</b> - AERO RANCHO/NOVA BAHIA/EXPRESSO (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 080</b> - AERO RANCHO/GENERAL OSORIO (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 088</b> - GUAICURUS/SHOPPING (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 072</b> - NOVA BAHIA/MORENAO (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 205</b> - NOVA BAHIA (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 283</b> - MARLI (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 122</b> - AV BANDEIRAS (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 514</b> - TIRADENTES (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 516</b> - MARIA PEDROSSIAN/OITI (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 522</b> - JARDIM CARIOCA (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 401</b> - JOSE ABRAO (1)<br/>
								<img src="img/icon_bus.png">
								<b>linha 064</b> - GUAICURUS/NORTE SUL (3)<br/>
								<img src="img/icon_bus.png">
								<b>linha 064</b> - GUAICURUS/NORTE SUL (3)<br/>
								<img src="img/icon_bus.png">
								<b>linha 078</b> - GENERAL OSORIO/MORENAO/EXPRESSO (2)<br/>
								<img src="img/icon_bus.png">
								<b>linha 089</b> - GUAICURUS/EXPRESSO (2)<br/>
								<img src="img/icon_bus.png">
								<b>linha 089</b> - GUAICURUS/EXPRESSO (2)<br/>
								<img src="img/icon_bus.png">
								<b>linha 089</b> - GUAICURUS/EXPRESSO (2)<br/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>