<div class="container">
	<div class="row" style="padding-top: 10px; padding-bottom: 10px;">
		<div class="col-lg-12">
			<a href="#"><img src="img/banner/banner01.jpg" class="img-responsive center-block"></a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5" ng-init="getNoticiaDestaque()" style="margin-bottom:15px">
			<slick ng-if="listaNoticiaDestaque.length>0" settings="slickConfig">
				<div ng-repeat="nd in listaNoticiaDestaque" ng-click="open(nd.id,1)" class="div-not-dest link-click">
					<div class="img-container-carr">
						<img ng-src="{{nd.img}}" class="cropped">
					</div>
					<div class="titulo-carr">
						<p>{{nd.titulo}}</p>
						<p class='cat-noticia'>{{nd.ct_noticia}}</p>
					</div>
				</div>
			</slick>
			<div class="botao-carr-dest">
				<span class="glyphicon glyphicon-chevron-left" ng-click="slickConfig.method.slickPrev()"></span>
				<span class="glyphicon glyphicon-chevron-right" ng-click="slickConfig.method.slickNext()"></span>
			</div>
			<hr></hr>
		</div>
		<div class="col-lg-7">
			<div class="col-lg-12">
				<div class="col-lg-6" ng-init="getNoticiaSub()" style="margin-bottom:15px">
					<div class="row link-click" ng-repeat="c in listaNoticiaSub" ng-click="open(c.id,2)">
						<span>
							<img ng-src="{{c.img}}" width="300" height="175">
							<h5 style="color: #F90;">{{c.ct_noticia}}</h5>
							<h4>{{c.titulo}}</h4>
							<hr></hr>
						</span>
					</div>
				</div>
				<div class="col-lg-6 cat-um-scroll" ng-init="getNoticiaUm()" style="margin-bottom:25px">
					<div class="row link-click" ng-click="open(conUm.id,3)" style="position: relative;" ng-repeat="conUm in listaNoticia">
						<span>
							<h5 style="color: #F90;">{{conUm.ct_noticia}}  {{conUm.dt_ativacao}}</h5>
							<h5>{{conUm.titulo}}</h5>
							<hr></hr>
						</span>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 noticia-dois"  ng-init="getNoticiaDois()">
			<div class="col-lg-4" ng-repeat="dois in listaNoticiaDois | limitTo:3" style="margin-bottom:15px">
				<div class="row link-click" ng-click="open(dois.id,4)">
					<span>
						<img ng-src="{{dois.img}}" width="300" height="175">
						<h5 style="color: #F90;">{{dois.ct_noticia}}</h5>
						<h4>{{dois.titulo}}</h4>
						<hr></hr>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row publicidade-dois">
		<div class="col-lg-12">
			<a href="#">
				<img src="img/banner/banner02.jpg" class="img-responsive center-block">
			</a>
		</div>
	</div>
	<div class="row" style="padding-top: 20px;" ng-init="getNoticiaTres()">
		<div class="col-lg-12" style="height: auto; padding-top: 10px;">
			<div class="col-lg-4" ng-repeat="tres in listaNoticiaTres | limitTo:3" style="margin-bottom:15px">
				<div class="row link-click" ng-click="open(tres.id,5)">
					<span>
						<img ng-src="{{tres.img}}" width="300" height="175">
						<h5 style="color: #F90;">{{tres.ct_noticia}}</h5>
						<h4>{{tres.titulo}}</h4>
						<hr></hr>
					</span>
				</div>
			</div>						
		</div>
	</div>
	<div class="row publicidade-dois">
		<div class="col-lg-12">
			<img src="img/banner_bottom.png" class="img-responsive center-block">
		</div>
	</div>
</div><!--containner-->