<section>
			<div class="container">
				<div class="row" style="padding-top: 10px; padding-bottom: 10px;">
					<div class="col-lg-12">
						<div class="col-lg-8" style="border-radius: 25px; background-color: #ffffff;">
							<div class="row" style="padding-top: 10px;">
								<!--div class="col-lg-2">
									<a href="#">
										<img src="img/perfil.png">
									</a>
								</div>
								<div class="col-lg-6" style="padding-top: 25px;">
									<span class="titulopromo">LUCIMARA DA SILVA</span>
									<br />
									CAMPO GRANDE | MS
								</div>
								<div class="col-lg-1" style="padding-top: 15px;">
									<a href="#">
										<img src="img/engrenagem.png" class="img-responsive center-block">
									</a>
								</div-->
								<div class="col-lg-9" style="padding: 25px 0 0 250px;">
									<a href="#">
										<button class="btncinza" ng-click="open(c.id,2)">CADASTRE-SE</button>	
									</a>
								</div>
								<div class="col-lg-3">
									<div class="row" style="padding-top: 20px; text-align: center;">
										<span class="titulopromo">PROMOÇÃO VÁLIDA</span><br />
										11/05/2017
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-9" style="padding: 10px 10px;">
									<a href="#"><img src="img/banner_promocao.png"></a><br />
									<div style="text-align: right;">
										<a href="#"><img src="img/icon_instagram.png"></a>
										<a href="#"><img src="img/icon_twitter.png"></a>
										<a href="#"><img src="img/icon_facebook.png"></a>
									</div>
								</div>
								<div class="col-lg-3" style="padding: 10px 10px;">
									<div class="row">
										<div style="text-align: center; padding: 10px 10px;">
											<span class="titulopromo">REGULAMENTO</span>
										</div>
										<div style="text-align: justify; padding: 10px 20px;">
											Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, 
											e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os 
											embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos.
										</div>
										<div style="text-align: justify; padding: 10px 20px;">
											<button class="btncinza">BAIXAR REGULAMENTO</button>
										</div>
									</div>
									<div class="row">
										<div style="text-align: justify; padding: 10px 20px;">
											<a href="#"><img src="img/verresultado.png"></a>
										</div>
									</div>
									<div class="row">
										<div style="text-align: justify; padding: 10px 20px;">
											<button class="btnreceberpremio">RECEBER PREMIO</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4" style="padding: 10px 10px;">
							<div class="row" style="padding-top: 40px; text-align: center; font-size: 21px;">
								HISTORICO DE <span class="titulopromo">PROMOÇÕES</span>
							</div>
							<div class="row" style="padding: 10px 30px;">
								<div style="border-radius: 15px; background-color: #ffffff; padding: 5px 5px; height: 170px;">
									<div class="col-lg-6" style="padding-left: 10px !important; padding-top: 10px;">
										<a href="#"><img src="img/imgpromocao.png"></a>
									</div>
									<div class="col-lg-6">
										<div class="row" style="text-align: center; padding-top: 25px;">
											<span class="titulopromo">PROMOÇÃO VÁLIDA</span><br />
											20/04/2017<br /><br />
											<button class="btnverresultado"><img src="img/trofeumini.png"> VER <strong>RESULTADO</strong></button>
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="padding: 10px 30px;">
								<div style="border-radius: 15px; background-color: #ffffff; padding: 5px 5px; height: 170px;">
									<div class="col-lg-6" style="padding-left: 10px !important; padding-top: 10px;">
										<a href="#"><img src="img/imgpromocao.png"></a>
									</div>
									<div class="col-lg-6">
										<div class="row" style="text-align: center; padding-top: 25px;">
											<span class="titulopromo">PROMOÇÃO VÁLIDA</span><br />
											20/04/2017<br /><br />
											<button class="btnverresultado"><img src="img/trofeumini.png"> VER <strong>RESULTADO</strong></button>
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="padding: 10px 30px;">
								<div style="border-radius: 15px; background-color: #ffffff; padding: 5px 5px; height: 170px;">
									<div class="col-lg-6" style="padding-left: 10px !important; padding-top: 10px;">
										<a href="#"><img src="img/imgpromocao.png"></a>
									</div>
									<div class="col-lg-6">
										<div class="row" style="text-align: center; padding-top: 25px;">
											<span class="titulopromo">PROMOÇÃO VÁLIDA</span><br />
											20/04/2017<br /><br />
											<button class="btnverresultado"><img src="img/trofeumini.png"> VER <strong>RESULTADO</strong></button>
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="padding: 10px 30px; text-align: right; font-size: 16px;">
								<a href="#"><span class="maispromocoes">MAIS PROMOÇÕES</span><img src="img/seta_direita.png"></a>
							</div>
							<div class="row" style="padding: 10px 30px; text-align: right; font-size: 16px; text-align: center;">
								<button class="btnsair">SAIR</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>